/* https://paletton.com/#uid=53U0u0kllllaFw0g0qFqFg0w0aF */
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;500;700&display=swap');
*{
    font-family: 'Changa', sans-serif;
    padding:0;
    margin:0;
}
header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
    
}
header button{
    background-color: #080F3A;
    color:white;
    border:none;
    margin-right: 20px;
    padding:5px;
    border-radius: 5px;

}
header button:hover{
    cursor: pointer;
    background-color: #050924;
}
body{
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.connectMsg{
    height: 90vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color:#080F3A;
    text-decoration: none;

}
a:hover{
    color:#050924;
}
#connectHeader{
    justify-content: center;
    align-items: center;
}
.connectForm{
    background-color: white;
    width: 20%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}
.headerConnectForm{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
}
.headerConnectForm hr{
    width: 80%;
}
.connectInputs{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connectInputs form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 80%;
}
form .inputsTextAndPass{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    width: 90%;
}
input[type=text]{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
    height: 45px;
    outline: none;
}
input[type=password]{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.377);
    height: 45px;
    outline: none;
}
.typeText{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.typePassword{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
input{
    padding-left: 10px;
}
.connectInputs form button{
    background-color: #080F3A;
    color:white;
    border:none;
    margin-right: 20px;
    width: 30%;
    height: 10%;
    border-radius: 5px;
    
}
.connectInputs form button:hover{
    cursor: pointer;
    background-color: #050924;
}
.containerAccueil{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ececec;
}
.containerAccueil img:hover{
    cursor:pointer;
    animation: zoomIn .7s;
    animation-fill-mode: forwards;
}
@keyframes zoomIn {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}
.formAddAvatar form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
   
}
.formAddAvatar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 50%;
    border: 1px solid black;
    padding: 20px;
}
.ninja{
    display:none;
}
.avatar{
    height: 80%;
    background-color: white;
    width: 400px;
    border-radius: 10px;
}